.row_header{
    margin: 0px auto;
    padding: 0px auto;
}
.row_footer{
    background-color: #d1d8e0;
    /* margin: 0px auto; */
    padding: 20px 0px 20px 0px;
}
.row_content{ 
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    
    min-height: 400px;   

}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #a55eea;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: black;

}
.nav{
    list-style-type: none;
    display: block;
}