.row_header{
    margin: 0px auto;
    padding: 0px auto;
}
.row_footer{
    background-color: #d1d8e0;
     /* margin: 0px auto; */
    padding: 20px 0px 20px 0px;
    margin: auto 0px;
}
.row_content{ 
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    
    min-height: 400px;   

}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #a55eea;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: black;

}
.nav{
    list-style-type: none;
    display: block;
}
/* .navitemf{
   padding-left: 70px;
  
} */
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color:#30336b;
}
.nav-item{
    text-align: center;
        
  
    
}

.navbar-collapse:hover{
    
    text-align: left;
}
.mx-auto{
    
    
    
}
.fa-home,.fa-address-card,.fa-ellipsis-v,.fa-address-book{
    margin: 9px;

}
.fa-phone{
    margin-left: -2px;
}
.fa-fax{
    margin-left: -2px;
}
.text-center{
    

}
.fa-twitter,.fa-youtube,.fa-google-plus,.fa-facebook-square,.fa-linkedin,.fa-envelope-open{
       margin: 15px;
}
.btn-primary{
    background:#30336b;
}
.card-header{
    background-color: #30336b;
  

}
.card-body{
    background-color: #CAD3C8;
}
.thead{
    background-color: #30336b;
    color: white;
}
.table{
    background-color:  #CAD3C8 ;
    margin-top: 30px;
}
.tableheading{
    margin-left:2px ;
}
td{
    font-style: italic;
    font-weight: 200px;
}
.media-body{
    margin-left: 10px;
}
.media{
    margin-right: 20px;
    margin-top: 25px;
}
.card{
    margin-top: 5px;
}
.badge-pill{
    background-color: #30336b ;
    margin-left: 10px;
}
.badge-info{
    background-color: #CAD3C8;
    margin-left: 10px;
}
.reserveform{
    margin-top: 10px;
   
    
}
/* .noofpeople{
    margin-top: 20px;
} */
#people{
   
}
.reservebtn{
    margin-top: 50px;
}
.noofpeoples{
   
    margin-right: 50px;
}
.badge-danger{
    margin-left: 10px;
}
.nav-item{
    display: inline-block;

}
.tab-content{
    border-left: solid 0.5px #ddd;
    border-right: solid 0.5px #ddd;
    border-bottom: solid 0.5px #ddd;
    padding: 10px;
    border-radius: 3px;
}
.card-header-accordin{
    color: white;
}
.date{
    margin-left: 10px;
}
.time{
    margin-right: 0px;
}
.close{
    margin-right: 10px;
    size: 30px;
}
.nonsmoking{

    /* margin-right: 50px;
    margin-top: 15px; */

}
/* .smoking{
    margin-top: 15px; */


