.row_header{
    margin: 0px auto;
    padding: 0px auto;
}
.row_footer{
    background-color: #d1d8e0;
     /* margin: 0px auto; */
    padding: 20px 0px 20px 0px;
    margin: auto 0px;
}
.row_content{ 
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    
    min-height: 400px;   

}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #a55eea;
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: black;

}
.nav{
    list-style-type: none;
    display: block;
}
.navitemf:shadow{
    background-color: white;
  
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color:#30336b;
}
.nav-item{
    text-align: center;
    
  
    
}
.navbar-collapse:hover{
    
    text-align: left;
}
.mx-auto{
    
    
    
}
.fa-home,.fa-address-card,.fa-ellipsis-v,.fa-address-book{
    margin: 9px;

}
.fa-phone{
    margin-left: -2px;
}
.fa-fax{
    margin-left: -2px;
}
.text-center{
    

}
.fa-twitter,.fa-youtube,.fa-google-plus,.fa-facebook-square,.fa-linkedin,.fa-envelope-open{
       margin: 15px;
}